body{
    margin: 0;
    padding: 0;
background-color: black;
    font-family: "Montserrat", sans-serif;

}






.contenedor-videos{
margin: auto;


padding: 3em 2,5em;
display: grid;

place-items: center;
grid-auto-columns: 100%;
padding-top: 10%;

padding-bottom: 5%;



}


.imagenes-porfolio{

    width: 75vw;
    max-width: 1200px;
    min-width: 320px;
    margin: auto;

}


.imagenes-porfolio img{

    width: 100%;
}

.iframe-porfolio{

    width: 75vw;
    max-width: 1200px;
    min-width: 320px;


    margin: auto;


}


.iframe-porfolio iframe{

    width: 100%;
}

.cerrar{

text-decoration: none;
position: fixed;
transition: background-color .3s;

padding: 2%;
width: 97%;

text-align: left;
}

.cerrar i{
font-size: 50px;
color: #dedede;
}


.cerrar :hover{

    color: #ce9a00;
}


@media only screen and (max-width: 1200px) {

    .iframe-porfolio iframe{

      height: 450px;
    }

}


@media only screen and (max-width: 800px) {

    .iframe-porfolio iframe{

      height: 350px;
    }

}




@media only screen and (max-width: 320px) {

    .iframe-porfolio iframe{

      height: 250px;
    }

}
