body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Montserrat", sans-serif;
    background-color: black;


}

*{

    box-sizing: border-box;
}
a { 
    text-decoration: none;
}

.abrir-menu,
.cerrar-menu {
    display: none;

}

header div,
header nav,
header ul{
    display: flex;
    align-items: center;
}


header div{
    position: fixed;   
    width: 100%;
    top:0;
    left: 0;
    right: 0;
    padding: 0.5% 4%;
    z-index: 10;
    transition: 0.5s linear 0.1s ;
  
}

header div.off{
    transform: translateY(-300px);

}

header div.solid{
    background-color:rgb(1, 1, 1)
}

header h4 {

    font-size: 1.5em;
    color: #dedede;
    letter-spacing: 0.1em;
text-shadow:black;
flex: 1;

}


.nav-list {
    list-style-type: none;
    display: flex;
    gap: 2rem;
    margin: 0; 
    padding: 0; 
   
  

}

.nav-list li a {

    text-decoration: none;
    color: #dedede;
    font-size: 1.5em;
    text-shadow:black

}

.nav-list li a:hover {
    color: #ce9a00;
}


@media screen and (max-width: 800px) {

  

    .abrir-menu,
    .cerrar-menu {

        display: block;
        border: 0;
        font-size: 1rem;
        background-color: transparent;
        color: rgb(188, 188, 188);

    }

    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;

        background-color: rgb(16, 16, 16);
        padding: 2rem;
      


    }



    .nav.visible {


        opacity: 1;
        visibility: visible;

    }

    .nav-list {

        flex-direction: column;
        align-items: end;
    }


    header h4 {

        font-size: 1.3em;


    }


}



/* Video y texto */



#video-fondo {

    position: absolute;
    width: 100%;




}

.texto-emi {

    position: absolute;
    top: 25%;
    width: 100%;
    text-align: center;


}

.texto-emi h1 {

    font-size: 3em;
    color: rgb(239, 239, 239);
    letter-spacing: 0.4em;

}

.texto-emi h3 {

    font-size: 2em;
    color: rgb(200, 200, 200);
    letter-spacing: 0.4em;

}

.texto-emi i {

    color: rgb(200, 200, 200);
    font-size: 2em;
    letter-spacing: 0.8em;
    padding-top: 1%;
}










@media screen and (max-width: 1100px) {

    .texto-emi {

        top: 20%;

    }

    .texto-emi h1 {

        font-size: 2em;



    }

    .texto-emi h3 {

        font-size: 1em;


    }

    .texto-emi i {


        font-size: 1.5em;
    }


}

@media screen and (max-width: 600px) {

    .texto-emi {


        top: 10%;



    }

    .texto-emi h1 {

        display: none;



    }

    .texto-emi h3 {

        font-size: 1em;


    }

    .texto-emi i {


        font-size: 1.5em;
    }



}

/* biografia */


.emi-texto {
padding-top: 3%;
    text-align: center;

}

.bio {

    width: 110vh;
    height: 80vh;
    background: url(/flor.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    margin-top: 35%;



}

.texto-bio {
    padding-left: 4%;
    padding-top: 35%;
    padding-right: 1%;
    width: 150vh;

    text-align: justify;
}



.bio-imagen {
    display: flex;
    position: relative;

}




#Bio{
 
width: 100%;
height: 100%;
margin: 0;
padding-top: 15%;

}


h3 {
    font-family: "Montserrat", sans-serif;
    color: rgb(200, 200, 200);
    font-size: 1, 5em;
    letter-spacing: 0.4em;
    padding-bottom: 1%;
}

i {

    color: rgb(200, 200, 200);
    font-size: 2em;
    letter-spacing: 0.6em;
    padding-left: 2%;
}

h2 {
    font-family: "Montserrat", sans-serif;
    color: rgb(200, 200, 200);
    font-size: 2em;
    letter-spacing: 0.4em;
    padding-bottom: 1%;
}



h4 {
    font-family: "Montserrat", sans-serif;
    color: rgb(200, 200, 200);
    letter-spacing: 0.4em;
    padding-bottom: 1%;
    padding-top: 1%;
}

p {
    font-family: "Montserrat", sans-serif;
    color: rgb(200, 200, 200);
    padding-bottom: 1%;
}

.trabajo { /* hoja */

    width: 50%;
    margin: auto;

}
.trabajo img {

    object-fit: cover;
    width: 100%;
    height: 100%;
    padding: 4%;
}

.botones {
 
    margin: auto;
display: flex;
}



.botonAV{
width: 50%;
    text-align: right;
    padding-left: 1%;


}



.botonUIux{
    width: 50%;
        text-align: left;
        padding-left: 1%;
     
    }



    
.tituloTrabajo{

 padding-top: 4%;
 padding-bottom: 1%;
    text-align:center;
    margin: auto;
  width: 100%;
}

#Porfolio{

background-color: rgb(21, 21, 21);
}




.edicion { /* titulo */

    width: 100%;
    text-align: center;
    padding-bottom: 4%;
    padding-top: 6%;
}

 /* nuevo */

.edicionAudiovisual{
    display: grid;
    grid-template-columns: auto auto;
    gap: 25px;
    padding-bottom: 2%;
    width: 100%;
    margin: auto;


}

.arteOnline{

    width: 700px;
    height: 350px;
    background: url(/ArteOnline.png);
    background-size: cover cover;
    background-position: center center;
    background-repeat: no-repeat;
align-items: center;
display: flex;
justify-content: center;
margin: auto;
border-radius: 10px;
box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
overflow: hidden;
transition: all 0.25s;
}

.contenedor-portadas :hover {
    transform: scale(1.02);

}

.arteOnline i{

    color: #ffffff;
    font-size: 80px;

}

.arteOnline i:hover{

    color: #eeb50c;
}


.amia{
    width: 700px;
    height: 350px;
    background: url(Amia.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
align-items: center;
display: flex;
justify-content: center;
margin: auto;
border-radius: 10px;
box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
overflow: hidden;
transition: all 0.25s;
}

.amia i{

    color: #ffffff;
    font-size: 80px;

    
}

.amia i:hover{

    color: #eeb50c;
}

.katja{

    width: 700px;
    height: 350px;
    background: url(/Katja.png);
    background-size: cover cover;
    background-position: center center;
    background-repeat: no-repeat;
align-items: center;
display: flex;
justify-content: center;
margin: auto;
border-radius: 10px;
box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
overflow: hidden;
transition: all 0.25s;
}

.katja i{

    color: #ffffff;
    font-size: 80px;
}



.katja i:hover{

    color: #eeb50c;
}


.chinos{
    width: 700px;
    height: 350px;
    background: url(/AñoChino.png);
    background-size: cover cover;
    background-position: center center;
    background-repeat: no-repeat;
align-items: center;
display: flex;
justify-content: center;
margin: auto;
border-radius: 10px;
box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
overflow: hidden;
transition: all 0.25s;
}

.chinos i{

    color: #ffffff;
    font-size: 80px;
}


.chinos i:hover{

    color: #eeb50c;
}

.edicionAudiovisual-responsive{
    display: none;

}

.masTrabajos-responsive{
    display: none;
}

.masTrabajos{
width: 100%;
align-items: center;
    background-color: rgb(0, 0, 0);
    margin: auto;
    padding-bottom: 2%;
}

.diseño {

    background-color: rgb(255, 255, 255);
    padding-bottom: 4%;
    padding-top: 4%;

}

.titulo {
    text-align: center;

}


span {
    color: black;
}



.programas {

    display: grid;
    grid-template-columns: repeat(6, 1fr);

    grid-auto-flow: 100%;
    width: 45vh;
    height: 4vh;


}


.programas img{
    
        object-fit: cover;
        width: 100%;
        height: 100%;
        padding: 4%;
    
    
}
.potadaCloset{
    object-fit: cover;
    width: 100%;
    height: 100%;
    padding: 4%;

}

.datos-personales {
    margin-top: 4%;
    text-align: center;
    color: rgb(200, 200, 200);
}



.contactoIconos {
display: grid;
grid-template-columns: auto auto auto auto;
width: 30%;

  
    color: rgb(200, 200, 200);
margin: auto;
padding-top: 2%;
align-items: center;


}

.contactoIconos i{
    font-size: 40px;
    
}

.contactoIconos i:hover{
    color: #ce9a00;
    
}

.mail-emi{
  
  padding-top: 8px;
}
.tel-emi{
    padding-top: 8px;

}

.fa-whatsapp{
    padding-left: 10px;
}
.fa-envelope{


 padding-left: 10px;

}

footer {

    text-align: center;
    color: rgb(200, 200, 200);
}


footer i:hover{
color: #ce9a00;

}
.home {

    padding-top: 2%;
    padding-bottom: 4%;

}

.formulario {

    width: 50%;
    margin: auto;
    padding-bottom: 1%;
    color: aliceblue;

}

.redes {

    padding: 2%;
}



.corta {

    width: 50%;
}


.protoVideo {

    width: 100%;
    margin: auto;
text-align: center;


}


video{

    width: 80%;
}

.text-center {

    padding: 1%;


}



.derechos{


    padding-top: 2%;
}







@media only screen and (max-width: 1400px) {

 /* nuevo */

 .edicionAudiovisual{
    display: grid;
    grid-template-columns: auto;
    gap: 10px;
    padding-bottom: 2%;
    width: 100%;
    margin: auto;


}


    .trabajo {

        width: 50%;
        margin: auto;
       

    }


    @media only screen and (max-width: 748px) {

        .arteOnline{

            width: 650px;
            height: 350px;

        }
        
     
        
        .amia{
            width: 650px;
            height: 350px;
   
        }
        
    
        
        .katja{
        
            width: 650px;
            height: 350px;
       
        
        }
        
     
        
      
        
        .chinos{
            width: 650px;
            height: 350px;
    
        }
        
        
    }










    @media only screen and (max-width: 666px) {

        
.edicionAudiovisual{
    display: none;
}

.masTrabajos{
    display: none;
}

        .edicionAudiovisual-responsive{

            display: inline ;
        }

        .masTrabajos-responsive{
            display: inline ;
        }

        .arteOnline-responsive{

            width: 550px;
            height: 350px;
            background: url(/ArteOnline_550.png);
            background-size: cover cover;
            background-position: center center;
            background-repeat: no-repeat;
        align-items: center;
        display: flex;
        justify-content: center;
        margin: auto;
        border-radius: 10px;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
        overflow: hidden;
        transition: all 0.25s;
        }


        .arteOnline-responsive i{

            color: #ffffff;
            font-size: 40px;
            background-color: transparent;
        }
        
        .arteOnline-responsivei:hover{
        
            color: #eeb50c;
        }
        

        .amia-responsive{

            width: 550px;
            height: 350px;
            background: url(/Amia550.png);
            background-size: cover cover;
            background-position: center center;
            background-repeat: no-repeat;
        align-items: center;
        display: flex;
        justify-content: center;
        margin: auto;
        border-radius: 10px;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
        overflow: hidden;
        transition: all 0.25s;
        }


        .amia-responsive i{

            color: #ffffff;
            font-size: 40px;
            background-color: transparent;
        }
        
        .amia-responsivei:hover{
        
            color: #eeb50c;
        }
        
        .katja-responsive{

            width: 550px;
            height: 350px;
            background: url(/Katja_550.png);
            background-size: cover cover;
            background-position: center center;
            background-repeat: no-repeat;
        align-items: center;
        display: flex;
        justify-content: center;
        margin: auto;
        border-radius: 10px;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
        overflow: hidden;
        transition: all 0.25s;
        }


        .katja-responsive i{

            color: #ffffff;
            font-size: 40px;
            background-color: transparent;
        }
        
        .katja-responsivei:hover{
        
            color: #eeb50c;
        }

        .chinos-responsive{

            width: 550px;
            height: 350px;
            background: url(/AñoChino_550.png);
            background-size: cover cover;
            background-position: center center;
            background-repeat: no-repeat;
        align-items: center;
        display: flex;
        justify-content: center;
        margin: auto;
        border-radius: 10px;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
        overflow: hidden;
        transition: all 0.25s;
        }


        .chinos-responsive i{

            color: #ffffff;
            font-size: 40px;
            background-color: transparent;
        }
        
        .chinos-responsivei:hover{
        
            color: #eeb50c;
        }
      
    }






@media only screen and (max-width: 540px) {
    .contactoIconos i{
    
        font-size: 30px;

        }

 
        .contactoIconos {
        
            width: 100%;
       padding-bottom: 2%;

          
        }


.formulario{
   
    width: 80%;
}

 .arteOnline-responsive{

    width: 350px;
    height: 150px;



}



.amia-responsive{
    width: 350px;
    height: 150px;

}



.katja-responsive{

    width: 350px;
    height: 150px;



}





.chinos-responsive{
    width: 350px;
    height: 150px;


}






    h3 {

        font-size: 1em;
        letter-spacing: 0.4em;

    }

    h2 {

        font-size: 1em;
        letter-spacing: 0.4em;

    }

    h4 {

        font-size: 1em;
        letter-spacing: 0.4em;

    }

    h5 {

        font-size: 1em;
        letter-spacing: 0.4em;

    }

   

    .texto-bio {

      
    width: 50%;


    }

    .bio {

      
        width: 50%;
        
        
            }
        
   
    .programas{
    display: none;

    }

    .herramientas{
        display: none;
        
            }



    i {


        font-size: 170%;
        letter-spacing: 0.6em;
        padding-left: 2%;
        padding-bottom: 8%;

    }

    .datos-personales {

        text-align: center;

    }

  

    .protoVideo {

        width: 100%;



    }

  
    .trabajo {

        width: 100%;
        margin: auto;
       

    }

    

    .botonAV{
        width: 50%;
            text-align: right;

        
        margin: auto;
        }
        
        
        
        .botonUIux{
            width: 50%;
                text-align: center;
                padding-left: 1%;
                margin: auto;
              
            }
        



}

/* DESKTOP */
@media (max-width:800px) {

  .contactoIconos {
            display: grid;
            grid-template-columns: auto auto;
            width: 53%;
       padding-bottom: 2%;
          
        }

    

    .trabajo {

        width: 100%;
        margin: auto;
       

    }
    

}


}

@media only screen and (max-width: 320px) {
   
 
        .contactoIconos {
        
            width: 90%;
       padding-bottom: 2%;
      
          
        }


.formulario{

    width: 90%;
}

i{
    font-size: 25px;
}
}
