* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


body {
    background-color: rgb(0, 0, 0);
    font-family: "Montserrat", sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

.abrir-menu,
.cerrar-menu {
    display: none;

}


/* nav*/


header div,
header nav,
header ul {
    display: flex;
    align-items: center;
}


header div {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    padding: 0.5% 4%;
    z-index: 10;
    transition: 0.5s linear 0.1s;

}

header div.off {
    transform: translateY(-300px);

}

header div.solid {
    background-color: rgb(1, 1, 1)
}

header h4 {

    font-size: 1.5em;
    color: #dedede;
    letter-spacing: 0.1em;
    text-shadow: black;
    flex: 1;

}


.nav-list {
    list-style-type: none;
    display: flex;
    gap: 2rem;
    margin: 0;
    padding: 0;



}

.nav-list li a {

    text-decoration: none;
    color: #dedede;
    font-size: 1.5em;
    text-shadow: black
}

.nav-list li a:hover {
    color: #ce9a00;
}


/* nav*/


/* Video y texto */



#video-fondo {

    position: relative;
    width: 100%;
}

.texto-emi {

    position: absolute;
    top: 25%;
    width: 100%;
    text-align: center;


}

.texto-emi h1 {

    font-size: 3em;
    color: rgb(239, 239, 239);
    letter-spacing: 0.4em;

}

.texto-emi h3 {

    font-size: 2em;
    color: rgb(200, 200, 200);
    letter-spacing: 8px;

}

.texto-emi i {

    color: rgb(200, 200, 200);
    font-size: 2em;
    letter-spacing: 0.8em;
    padding-top: 1%;
}

.contenedor-bio {

    width: 100%;

    position: relative;
    margin: auto;
    display: flex;
    align-content: center;
    justify-content: center;

}

.bio {

    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-wrap: wrap;
    align-content: center;
    justify-content: start;

    width: 900px;
    height: 800px;

    color: rgb(214, 214, 214);





}

.bio h2 {

    letter-spacing: 0.4em;

    padding-top: 4%;
}

.bio h3 {

    font-size: 25px;
}

.texto-bio {

    width: 90%;

}

.texto-bio p {

    text-align: justify;
}




.iconos-contacto {

    display: flex;
    gap: 10px;
    font-size: 40px;

}

.flor {

    width: 100%;


}


.iconos-contacto i:hover {

    color: #eeb50c;
}


.iconos-programas {

    font-size: 40px;
    padding-bottom: 20px;

}




.porfolio {


    text-align: center;
    font-size: 2em;
    color: rgb(200, 200, 200);
    letter-spacing: 0.4em;
    margin: auto;

    padding-top: 2%;


}

.botones {

    display: flex;
    margin: auto;
    gap: 40px;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    padding-top: 20px;

}

.botones-2 {

    display: flex;
    margin: auto;
    gap: 30px;
    align-content: center;
    justify-content: center;
    padding-top: 20px;


}

.hoja img {

    display: flex;
    width: 600px;

    margin: auto;
    padding-top: 20px;
    padding-bottom: 4%;
}

#Porfolio {
    background-color: rgb(45, 45, 45);
}

.edicion {
    padding-top: 50px;
    padding-bottom: 50px;
}

.edicion h4 {

    text-align: center;
    font-size: 2em;
    color: rgb(200, 200, 200);
    letter-spacing: 0.4em;

}

.edicionAudiovisual {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
    padding-bottom: 2%;
    margin: auto;
    width: 1200px;


}

.contenedor-portadas {

    width: 450px;
    margin: auto;
    padding: 0;

}

.arteOnline {

    width: 400px;
    height: 300px;
    background: url(/ArteOnline.png);
    background-size: cover cover;
    background-position: center center;
    background-repeat: no-repeat;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: all 0.25s;
}

.contenedor-portadas :hover {
    transform: scale(1.02);

}

.arteOnline i {

    color: #ffffff;
    font-size: 45px;

}

.arteOnline i:hover {

    color: #eeb50c;
}


.amia {
    width: 400px;
    height: 300px;
    background: url(Amia.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: all 0.25s;
}

.amia i {

    color: #ffffff;
    font-size: 45px;


}

.amia i:hover {

    color: #eeb50c;
}

.katja {

    width: 400px;
    height: 300px;
    background: url(/Katja.png);
    background-size: cover cover;
    background-position: center center;
    background-repeat: no-repeat;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: all 0.25s;
}

.katja i {

    color: #ffffff;
    font-size: 45px;
}



.katja i:hover {

    color: #eeb50c;
}


.chinos {
    width: 400px;
    height: 300px;
    background: url(/AñoChino.png);
    background-size: cover cover;
    background-position: center center;
    background-repeat: no-repeat;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: all 0.25s;
}

.chinos i {

    color: #ffffff;
    font-size: 45px;
}


.chinos i:hover {

    color: #eeb50c;
}

.edicionAudiovisual-responsive {
    display: none;

}

.masTrabajos-responsive {
    display: none;
}

.masTrabajos {
    width: 100%;
    align-items: center;
    background-color: rgb(0, 0, 0);
    margin: auto;
    padding-bottom: 2%;
}

.diseño {

    background-color: rgb(255, 255, 255);
    padding-bottom: 4%;
    padding-top: 4%;

}

.titulo {
    text-align: center;

}


span {
    color: black;
    font-size: 40px;

    letter-spacing: 0.4em;
}

.closet {

    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
}

.closet img {
    object-fit: cover;
    width: 70%;
}

.protoVideo {

    text-align: center;
}


.protoVideo video {

    width: 70%;
    margin: auto;
    text-align: center;


}

.datos-personales {
    margin-top: 4%;
    text-align: center;
    color: rgb(200, 200, 200);
}



.contactoIconos {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: rgb(200, 200, 200);
    margin: auto;
padding-bottom: 20px;
padding-top: 30px;
    align-items: center;
  


}

.contactoIconos i {
    font-size: 40px;

}

.contactoIconos i:hover {
    color: #ce9a00;

}

.mail-emi {

    padding-top: 8px;
}

.tel-emi {
    padding-top: 8px;

}

.fa-whatsapp {
    padding-left: 10px;
}

.fa-envelope {

    padding-left: 10px;

}

footer {

    text-align: center;
    color: rgb(200, 200, 200);
}


footer i:hover {
    color: #ce9a00;

}

.formulario {

    width: 40%;
    margin: auto;
    padding-bottom: 1%;
    color: aliceblue;
   

}

.redes {
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.redes i {

    font-size: 40px;
}

.derechos {

    padding-top: 2%;
}




@media screen and (max-width: 1100px) {

    .formulario {

        width: 95%;
       
    
    }

    .texto-emi {

        top: 15%;

    }

    .texto-emi h1 {

        font-size: 2em;

    }

    .texto-emi h3 {

        font-size: 1em;

    }


}


@media screen and (max-width: 800px) {

    /* nav*/

    .abrir-menu,
    .cerrar-menu {

        display: block;
        border: 0;
        font-size: 1rem;
        background-color: transparent;
        color: rgb(188, 188, 188);

    }

    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        background-color: rgb(16, 16, 16);
        padding: 2rem;

    }

    .nav.visible {
        opacity: 1;
        visibility: visible;

    }

    .nav-list {

        flex-direction: column;
        align-items: end;
    }


    header h4 {

        font-size: 1.3em;

    }

    /* nav*/



    .flor {

        display: none;


    }


    .bio {

        background-image: url(/flor.jpg);
        height: 700px;

    }


    .edicion h4 {

        font-size: 1em;


    }

    .porfolio h4 {
        font-size: 0.5em;
    }

}


@media screen and (max-width: 600px) {

    .texto-emi {

        top: 10%;

    }


    .texto-emi h1 {

        display: none;

    }



}


@media only screen and (max-width: 1400px) {

    /* nuevo */

    .edicionAudiovisual {
        display: grid;
        grid-template-columns: auto;
        width: auto;
    }


}

@media only screen and (max-width: 666px) {


    

    .hoja img {

        width: 300px;
    }

    .edicionAudiovisual {
        display: none;
    }

    .masTrabajos {
        display: none;
    }

    .edicionAudiovisual-responsive {

        display: inline;


    }

    .masTrabajos-responsive {

        display: inline;
    }


    .contenedor-portadas-2 {

        width: auto;
        padding-bottom: 20px;
    }

    .text-center {

        padding-bottom: 20px;
    }

    .arteOnline-responsive {

        width: 300px;
        height: 200px;
        background: url(/ArteOnline_550.png);
        background-size: cover cover;
        background-position: center center;
        background-repeat: no-repeat;
        align-items: center;
        display: flex;
        justify-content: center;
        margin: auto;
        border-radius: 10px;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
        overflow: hidden;
        transition: all 0.25s;
    }


    .arteOnline-responsive i {

        color: #ffffff;
        font-size: 30px;
        background-color: transparent;
    }

    .arteOnline-responsivei:hover {

        color: #eeb50c;
    }


    .amia-responsive {

        width: 300px;
        height: 200px;
        background: url(/Amia550.png);
        background-size: cover cover;
        background-position: center center;
        background-repeat: no-repeat;
        align-items: center;
        display: flex;
        justify-content: center;
        margin: auto;
        border-radius: 10px;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
        overflow: hidden;
        transition: all 0.25s;
    }

    .amia-responsive i {

        color: #ffffff;
        font-size: 30px;
        background-color: transparent;
    }

    .amia-responsivei:hover {

        color: #eeb50c;
    }

    .katja-responsive {

        width: 300px;
        height: 200px;
        background: url(/Katja_550.png);
        background-size: cover cover;
        background-position: center center;
        background-repeat: no-repeat;
        align-items: center;
        display: flex;
        justify-content: center;
        margin: auto;
        border-radius: 10px;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
        overflow: hidden;
        transition: all 0.25s;
    }


    .katja-responsive i {

        color: #ffffff;
        font-size: 30px;
        background-color: transparent;
    }

    .katja-responsivei:hover {

        color: #eeb50c;
    }

    .chinos-responsive {

        width: 300px;
        height: 200px;
        background: url(/AñoChino_550.png);
        background-size: cover cover;
        background-position: center center;
        background-repeat: no-repeat;
        align-items: center;
        display: flex;
        justify-content: center;
        margin: auto;
        border-radius: 10px;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
        overflow: hidden;
        transition: all 0.25s;
    }


    .chinos-responsive i {

        color: #ffffff;
        font-size: 30px;
        background-color: transparent;
    }

    .chinos-responsivei:hover {

        color: #eeb50c;
    }


    span {

        font-size: 20px;
        letter-spacing: 0.4em;
    }



}



@media only screen and (max-width: 560px) {
    .redes {

        align-items: center;
        justify-content: center;
        gap: 15px;
    }


    .protoVideo {

        width: 100%;
    }


}


/* DESKTOP */
@media (max-width:800px) {


    .protoVideo video {

        width: 100%;
        margin: auto;
    }

}

@media (max-width:344px) {
    .iconos-contacto {

        font-size: 35px;


    }

    .botones-2 {

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .protoVideo video {

        width: 100%;
        margin: auto;
    }



}
